<div *ngIf="player">
  <div class="m-4 animate-text-color">
    <h1>{{player.name | uppercase}}</h1>
  </div>
  <h2>Modifier les caractéristiques du joueur</h2>
  <p>id:<span>{{player.id}}</span></p>
  <form>
    <div class="form-group m-2">
      <label for="player-name">Nom du joueur: </label>
      <input id="player-name" class="text-center form-control" [(ngModel)]="player.name" name="name"
        value="{{player.name}}" type="text" />

    </div>
    <div class="form-group m-2">
      <label for="player-strength">Force: </label>
      <input id="player-strength" class="text-center form-control" [(ngModel)]="player.strength" name="strength"
        value="{{player.strength}}" type="number" min="0" max="100" />
    </div>
    <div class="form-group m-2">
      <label for="player-memory">Mémoire: </label>
      <input id="player-memory" class="text-center form-control" [(ngModel)]="player.memory" name="memory"
        value="{{player.memory}}" type="number" min="0" max="100" />
    </div>
    <div class="form-group m-2">
      <label for="player-intelligence">Intelligence: </label>
      <input id="player-intelligence" class="text-center form-control" [(ngModel)]="player.intelligence"
        name="intelligence" value="{{player.intelligence}}" type="number" min="0" max="100" />
    </div>
    <div class="form-group m-2">
      <label for="player-logic">Logique: </label>
      <input id="player-logic" class="text-center form-control" [(ngModel)]="player.logic" name="logic"
        value="{{player.logic}}" type="number" min="0" max="100" />
    </div>
    <div class="form-group m-2">
      <label for="player-resistance">Résistance: </label>
      <input id="player-resistance" class="text-center form-control" [(ngModel)]="player.resistance" name="resistance"
        value="{{player.resistance}}" type="number" min="0" max="100" />
    </div>
    <div class="form-group m-2">
      <label for="player-fighting">Combativitée: </label>
      <input id="player-fighting" class="text-center form-control" [(ngModel)]="player.fighting" name="fighting"
        value="{{player.fighting}}" type="number" min="0" max="100" />
    </div>
    <button class="custom-btn btn-block" type="button" (click)="save()">Modifier</button>
  </form>
  <hr>
  <a routerLink="/delete/player/{{player.id}}">Suprimer le joueur</a>
  <button class="custom-btn" type="button" (click)="goBack()">Retour</button>
</div>